{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

	<div class="row">

		<div class="col-md-3 text-center">
			
			{% if object.avatar %}
			<img src="{{object.avatar}}" class="img-responsive" />
			{% else %}
			<img src="{% static 'images/avatar.svg' %}" class="img-responsive" />
			{% endif %}
			
			<h2>{{object.user.username}}</h2>
			
			{% if object.user.first_name or object.user.last_name %}
			<h4>{{object.user.first_name}}&nbsp;{{object.user.last_name}}</h4>
			{% endif %}
			
			<p>{{object.text}}</p>

			{% if object in user.account.followers.all %}
			<p><span class="label label-success">
				<span class="glyphicon glyphicon-ok"></span>
				&nbsp;Te sigue
			</span></p>
			{% endif %}
			
			{% if object.birth %}
			<p><span class="label label-default">
				<span class="glyphicon glyphicon-gift"></span>
				&nbsp;Nacido el {{object.birth}}
			</span></p>
			{% endif %}
			
			<p><span class="label label-default">
				<span class="glyphicon glyphicon-time"></span>
				&nbsp;Se unió el {{object.user.date_joined.date}}
			</span></p>
			
			<hr/>
			{% if user.id == object.user.id %}
			<a href="/accounts/edit" class="btn btn-default">Editar mi perfil</a>
			{% elif object in user.account.following.all %}
			<button id="follow" value="unfollow" class="btn btn-danger">Dejar de seguir</button>
			{% else %}
			<button id="follow" value="follow" class="btn btn-primary">Seguir usuario</button>
			{% endif %}
			<a href="/accounts" class="btn btn-link">Volver</a>

		</div>

		<div class="col-md-9">
				
			<ul class="nav nav-pills nav-justified">
				<li role="presentation" class="active">
					<a href="#activity" data-toggle="tab">Actividad</a>
				</li>
				<li role="presentation">
					<a href="#now" data-toggle="tab">Siguiendo/leyendo/jugando ahora</a>
				</li>
				<li role="presentation">
					<a href="#social" data-toggle="tab">Seguidores y siguiendo</a>
				</li>
			</ul>

			<div class="tab-content">

			<div class="row tab-pane fade in active" id="activity">
				<div class="col-md-12">
					<br/>
					{% include "main/activity.html" %}
				</div>
			</div>

			<div class="row tab-pane fade" id="now">
				<div class="col-md-12">
					<h3>Siguiendo ahora</h3>
					<hr/>
					{% if series or comicseries %}
					<div class="row">
						{% for item in series %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="series" %}
						</div>
						{% endfor %}
						{% for item in comicseries %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="comicseries" %}
						</div>
						{% endfor %}
					</div>
					{% else %}
					<div class="alert alert-warning">
						<span>No hay nada para mostrar</span>
					</div>
					{% endif %}
					<h3>Leyendo ahora</h3>
					<hr/>
					{% if books or comics %}
					<div class="row">
						{% for item in books %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="books" %}
						</div>
						{% endfor %}
						{% for item in comics %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="comics" %}
						</div>
						{% endfor %}
					</div>
					{% else %}
					<div class="alert alert-warning">
						<span>No hay nada para mostrar</span>
					</div>
					{% endif %}
					<h3>Jugando ahora</h3>
					<hr/>
					{% if games or dlcs %}
					<div class="row">
						{% for item in games %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="games" %}
						</div>
						{% endfor %}
						{% for item in dlcs %}
						<div class="col-md-3">
							{% include "items/item_preview.html" with item_path="dlcs" %}
						</div>
						{% endfor %}
					</div>
					{% else %}
					<div class="alert alert-warning">
						<span>No hay nada para mostrar</span>
					</div>
					{% endif %}
				</div>
			</div>

			<div class="row tab-pane fade" id="social">
				<div class="col-md-6">
					<h3>Seguidores</h3>
					<hr/>
					{% if object.followers.all %}
					{% for account in object.followers.all %}
					<div class="account-block">
						{% include "main/account_block.html" %}
					</div>
					{% endfor %}
					{% else %}
					<div class="alert alert-warning">
						<span><b>{{object.user.username}}</b> no tiene seguidores</span>
					</div>
					{% endif %}
				</div>
				<div class="col-md-6">
					<h3>Siguiendo</h3>
					<hr/>
					{% if object.following.all %}
					{% for account in object.following.all %}
					<div class="account-block">
						{% include "main/account_block.html" %}
					</div>
					{% endfor %}
					{% else %}
					<div class="alert alert-warning">
						<span><b>{{object.user.username}}</b> no está siguiendo a nadie</span>
					</div>
					{% endif %}
				</div>
			</div>

			</div>

		</div>
	
	</div>

</div>

{% endblock %}

{% block scripts %}

{# Follow/unfollow button #}
<script type="text/javascript">
	button = $('#follow');
	button.click(function(event) {
		if (button.attr('value') == 'follow') {
			$.ajax({
				type: 'GET',
				url: '/accounts/follow/{{object.id}}',
				success: function() {
					button.html('Dejar de seguir');
					button.attr('value', 'unfollow');
					button.addClass('btn-danger');
					button.removeClass('btn-primary');
				}
			});
		} else if (button.attr('value') == 'unfollow') {
			$.ajax({
				type: 'GET',
				url: '/accounts/unfollow/{{object.id}}',
				success: function() {
					button.html('Seguir usuario');
					button.attr('value', 'follow');
					button.addClass('btn-primary');
					button.removeClass('btn-danger');
				}
			});
		}
		button.blur();
		return false;
	});
</script>

{% endblock %}