{% load staticfiles %}

<div class="row">
	<div class="col-md-5">
		<a href="/accounts/{{account.id}}">
			{% if account.avatar %}
			<img src="{{account.avatar}}" class="img-circle" />
			{% else %}
			<img src="{% static 'images/avatar.svg' %}" class="img-circle" />
			{% endif %}
		</a>
	</div>
	<div class="col-md-7">
		<h3>{{account.user.username}}</h3>
		{% if user.id == account.user.id %}
		<a href="/accounts/edit" class="btn btn-default">Editar</a>
		{% elif account in user.account.following.all %}
		<button id="{{account.id}}" value="unfollow" class="btn btn-danger" onclick="follow($(this));return false;">No seguir</button>
		{% else %}
		<button id="{{account.id}}" value="follow" class="btn btn-primary" onclick="follow($(this));return false;">Seguir</button>
		{% endif %}
		<a href="/accounts/{{account.id}}" class="btn btn-link">Ver perfil</a>
		{% if account in user.account.followers.all %}
		<span class="label label-success">
			<span class="glyphicon glyphicon-ok"></span>
			&nbsp;Te sigue
		</span>
		{% endif %}
	</div>
</div>