{% extends 'base/base.html' %}

{% block content %}

<div class="container">
	<div class="row">

	{{datexd|timesince}}

		<div class="col-md-3">
			<div class="panel panel-primary activity">
				<div class="panel-heading">
					<h3 class="panel-title">Actividad reciente</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<tbody>
							{% if logs %}
							{% for log in logs %}
							<tr>
								<td>
									<a href="/accounts/{{log.follower.id}}"><h6>{{log.follower}}</h6></a> ha empezado a seguir a <a href="/accounts/{{log.following.id}}"><h6>{{log.following}}</h6></a>
									<br/>
									<small class="text-muted">Hace {{log.date|timesince}}</small>
								</td>
							</tr>
							{% endfor %}
							{% else %}
							<tr>
								<td>No hay actividad reciente</td>
							</tr>
							{% endif %}
							<!-- TODO item logs -->
							<!-- {% for mark in request.user.moviemark_set.all %}
							<tr>
								<td>
									<a href="/accounts/{{mark.user.id}}"><h6>{{mark.user}}</h6></a> ha marcado {% if mark.movie.category == 'pel' %}la{% else %}el{% endif %} <span class="text-primary">{{mark.movie.get_category_display|lower}}</span> <a href="/items/movies/{{mark.movie.id}}"><h6>{{mark.movie}}</h6></a> como <h6>{{mark.get_option_display|lower}}</h6>
									<br/>
									<small>15/04/2017 23:59</small>
								</td>
							</tr>
							{% endfor %} -->
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<form action="{% url 'main:index' %}" id="form" method="post">
				{% csrf_token %}
				<input type="hidden" name="option" value="{{option}}" />
				<div class="btn-group btn-group-justified tabs" id="option">
					<a href="#" data-option="rec" class="btn btn-{% if option == 'rec' %}primary{% else %}default{% endif %}">Recomendado para ti</a>
					<a href="#" data-option="nov" class="btn btn-{% if option == 'nov' %}primary{% else %}default{% endif %}">Novedades</a>
					<a href="#" data-option="val" class="btn btn-{% if option == 'val' %}primary{% else %}default{% endif %}">Mejor valorados</a>
				</div>
			</form>
			<h3>{{prefix}} en cine</h3>
			<hr/>
			<div class="row">
				{% for item, option in movies.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="movies" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en televisión</h3>
			<hr/>
			<div class="row">
				{% for item, option in series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="series" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en libros</h3>
			<hr/>
			<div class="row">
				{% for item, option in books.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="books" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en videojuegos</h3>
			<hr/>
			<div class="row">
				{% for item, option in games.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="games" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en cómics</h3>
			<hr/>
			<div class="row">
				{% for item, option in comics.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="comics" %}
				</div>
				{% endfor %}
				{% for item, option in comic_series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="comicseries" %}
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
	$('#option a').on('click', function(event) {
		event.preventDefault();
		$('input[name="option"]').val($(this).data('option'));
		$('#form').submit();
	});
</script>

{% endblock scripts %}