{% extends 'base/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-3">
			<form action="{% url 'main:index' %}" id="form" method="post">
				{% csrf_token %}
				<input type="hidden" name="option" value="{{option}}" />
				<div class="btn-group btn-group-justified tabs" id="option">
					<a href="#" data-option="rec" class="btn btn-{% if option == 'rec' %}primary{% else %}default{% endif %}">Recomendado para ti</a>
					<a href="#" data-option="nov" class="btn btn-{% if option == 'nov' %}primary{% else %}default{% endif %}">Novedades</a>
					<a href="#" data-option="val" class="btn btn-{% if option == 'val' %}primary{% else %}default{% endif %}">Mejor valorados</a>
				</div>
			</form>
			<h3>{{prefix}} en cine</h3>
			<hr/>
			<div class="row">
				{% for item, option in movies.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="movies" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en televisión</h3>
			<hr/>
			<div class="row">
				{% for item, option in series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="series" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en libros</h3>
			<hr/>
			<div class="row">
				{% for item, option in books.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="books" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en videojuegos</h3>
			<hr/>
			<div class="row">
				{% for item, option in games.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="games" %}
				</div>
				{% endfor %}
			</div>
			<h3>{{prefix}} en cómics</h3>
			<hr/>
			<div class="row">
				{% for item, option in comics.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="comics" %}
				</div>
				{% endfor %}
				{% for item, option in comic_series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with item_path="comicseries" %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
	$('#option a').on('click', function(event) {
		event.preventDefault();
		$('input[name="option"]').val($(this).data('option'));
		$('#form').submit();
	});
</script>

{% endblock scripts %}