{% extends 'base/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-3">
			<h2>Lo último en cine</h2>
			<hr/>
			<div class="row">
				{% for item, option in movies.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="movies" label=item.get_category_display %}
				</div>
				{% endfor %}
			</div>
			<h2>Lo último en televisión</h2>
			<hr/>
			<div class="row">
				{% for item, option in series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="series" label=item.get_category_display %}
				</div>
				{% endfor %}
			</div>
			<h2>Lo último en libros</h2>
			<hr/>
			<div class="row">
				{% for item, option in books.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="books" label="Libro" %}
				</div>
				{% endfor %}
			</div>
			<h2>Lo último en videojuegos</h2>
			<hr/>
			<div class="row">
				{% for item, option in games.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="games" label="Videojuego" %}
				</div>
				{% endfor %}
			</div>
			<h2>Lo último en cómics</h2>
			<hr/>
			<div class="row">
				{% for item, option in comics.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="comics" label="Cómic" %}
				</div>
				{% endfor %}
				{% for item, option in comic_series.items %}
				<div class="col-md-3">
					{% include "items/item_preview.html" with path="comicseries" label="Comicserie" %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}