<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><b>EntHub</b></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'items:movie_list' %}">Cine y TV</a></li>
				<li><a href="{% url 'items:book_list' %}">Libros</a></li>
				<li><a href="{% url 'items:game_list' %}">Videojuegos</a></li>
				<li><a href="{% url 'items:comic_list' %}">Cómics</a></li>
				<!-- TODO No en esta version -->
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Más<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Géneros</a></li>
						<li><a href="#">Plataformas</a></li>
						<li><a href="#">Agentes</a></li>
					</ul>
				</li> -->
				<form method="post" action="{% url 'items:search' %}" class="navbar-form navbar-left">
					{% csrf_token %}
					<div class="has-feedback has-feedback-left">
						<input type="text" class="form-control" name="q" placeholder="Buscar" value="{% if q %}{{q}}{% endif %}">
						<i class="glyphicon glyphicon-search form-control-feedback"></i>
					</div>
				</form>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.get_username}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'main:account_detail' pk=user.account.id %}">Mi perfil</a></li>
						<li><a href="{% url 'main:account_list' %}">Comunidad</a></li>
						<!-- TODO No en esta version -->
						<!-- <li><a href="#">Listas</a></li> -->
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'main:logout' %}">Cerrar sesión</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>