body{
	background-image: url('../images/auth-background.jpg');
	background-color: lightblue;
	background-size: cover;
}

.jumbotron{
	margin-top: 75px;
	background-color: rgba(247, 247, 247, 0.7);
}

.jumbotron h1{
	margin-bottom: 22px;
}

.buttons{
	margin-top: 20px;
}

.red{
	color: red !important;
}