/* General */

body{
	padding-bottom: 50px !important;
}

.caret{
	margin-left: 5px !important;
}

/* Book form */

.error-message{
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 0;
}

.non-field-error-message{
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}

/* Item detail */

.btn-fav{
	margin-top: 5px;
}

.btn .glyphicon{
	float: left;
	margin: 2px 5px;
}

#mark-button .caret{
	float: right;
	margin: 9px 5px;
}

#mark-dropdown li a .glyphicon{
	float: left;
	margin-top: 2px;
}

/* Series items detail */

.subitems-title{
	margin-bottom: 22px;
}

.seasons{
	border-bottom: 0;
}

/* Item and Account lists */

.filter .form-group{
	margin-left: 0;
	margin-right: 0;
	margin-top: -9px;
}

.has-feedback-left .form-control-feedback{
	left: 0;
}

.has-feedback-left input.form-control{
	padding-left: 35px;
	padding-right: 12px;
}

.account-block{
	margin-bottom: 20px;
}

button.list-group-item .glyphicon{
	font-size: 14px;
	margin-right: 7px;
}

.tabs{
	margin-bottom: 20px;
}

/* Item preview */

.cover-preview{
	padding: 0;
}

.cover-preview img{
	width: 100%;
	height: 250px;
}