/* General */

body{
	padding-bottom: 50px !important;
}

.caret{
	margin-left: 5px !important;
}

/* Item form */

.error-message{
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 0;
}

.non-field-error-message{
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.alert-info a{
	text-decoration: none;
	color: white;
}

/* Item detail */

.btn-fav{
	margin-top: 5px;
}

.btn .glyphicon{
	float: left;
	margin: 2px 5px;
}

#mark-button .caret{
	float: right;
	margin: 9px 5px;
}

#mark-dropdown li a .glyphicon{
	float: left;
	margin-top: 2px;
}

.rating{
	padding: 20px 10px 20px 10px !important;
	margin-bottom: 20px;
}

.rating-header{
	margin-bottom: 10px;
}

.rating-header h2, .rating-header h4{
	display: inline;
}

.rating button{
	/* Square buttons */
	padding: 7px 7px 2px 7px;
}

.rating button span{
	font-size: 25px;
	text-align: center;
}

/* Origin link */

.origin-block {
	padding: 5px 10px 5px 10px;
	border: 1px solid #4582ec;
	border-radius: 4px;
}

.origin-block .origin-icon {
	display: inline-block;
	vertical-align: top;
}

.origin-block .origin-icon img {
	width: 45px;
	height: 45px;
}

.origin-block .origin-link {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/* Series items detail */

.subitems-title{
	margin-bottom: 22px;
}

.seasons{
	border-bottom: 0;
}

td.text-right button.btn {
	border: 1px solid #dddddd;
}

.btn-tic-all {
	margin-right: 8px;
	border: 1px solid #dddddd;
}

.comicseries-numbers-header {
	margin-bottom: 15px;
}

/* Item and Account lists */

.filter .form-group{
	margin-left: 0;
	margin-right: 0;
	margin-top: -9px;
}

.has-feedback-left .form-control-feedback{
	left: 0;
}

.has-feedback-left input.form-control{
	padding-left: 35px;
	padding-right: 12px;
}

button.list-group-item .glyphicon{
	font-size: 14px;
	margin-right: 7px;
}

.tabs{
	margin-bottom: 20px;
}

/* Account block */

.account-block{
	margin-bottom: 20px;
	height: 150px;
	border-radius: 75px 5px 5px 75px;
	background-color: #f7f7f7;
}

.account-block img{
	width: 100%;
	height: 150px;
}

.account-block .label-success{
	position: relative;
	top: 5px;
}

/* Item preview */

.cover-preview{
	padding: 0;
	border-bottom: 0;
	position: relative;
}

.img-rating{
	position: absolute;
	right: 10px;
	bottom: 10px;
	background-color: white;
	width: 45px;
	height: 45px;
	padding: 10px;
	border-radius: 50%;
}

.cover-preview img{
	width: 100%;
	height: 250px;
}

.title-preview{
	height: 34px;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Index */

.activity .panel-body{
	padding: 0;
}

.activity table{
	margin: 0;
}

.activity a{
	text-decoration: none;
}

.activity h6{
	display: inline;
}