/* General */

body{
	padding-bottom: 50px !important;
}

/* Book form */

.error-message{
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 0;
}

/* Series items detail */

.subitems-title{
	margin-bottom: 22px;
}

.seasons{
	border-bottom: 0;
}