{% extends "items/item_form.html" %}

{% block api %}

<form method="post" action="{{cancel_url}}/api/" id="api" class="form-horizontal col-md-8">
	{% csrf_token %}
	<div class="alert alert-info">
		<span>Puede importar la información a partir de una ficha de <b>{{api_name}}</b> (<a href="{{api_url}}" target="_blank"><u>visitar la página</u></a>). Introduzca la dirección de enlace a la ficha que quiere importar. Si no, introduzca manualmente los campos más abajo.</span>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Enlace</label> 
		<div class="col-md-7">
			<input type="url" name="link" class="form-control" placeholder="{{link_placeholder}}">
			<div hidden class="alert alert-danger error-message">
			</div>
		</div>
		<div class="col-md-3 text-right">
			<button type="submit" form="api" class="btn btn-primary btn-block">Enviar</button>
		</div>
	</div>
	<hr/>
</form>

{% endblock api %}

{% block scripts %}

<script type="text/javascript">
	var form = $('#api');
	form.submit(function(event) {
		event.preventDefault();
		submit_button = form.find('button[type="submit"]');
		submit_button.prop('disabled', true);
		submit_button.text('Enviando...');
		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			data: form.serialize(),
			success: function(response) {
				if (response['error']) {
					$('#api .form-group').addClass('has-error');
					$('#api .error-message').html('<span>' + response['error'] + '</span>');
					$('#api .error-message').show();
					submit_button.prop('disabled', false);
					submit_button.text('Enviar');
				} else {
					window.location.href = response['success_url'];
				}
			},
			error: function() {
				$('#api .form-group').addClass('has-error');
				$('#api .error-message').html('<span>Ha ocurrido un error. Por favor, refresque la página y vuelva a intentarlo.</span>');
				$('#api .error-message').show();
				submit_button.prop('disabled', false);
				submit_button.text('Enviar');
			}
		});
		submit_button.blur();
	});
</script>

{% endblock scripts %}