{% extends 'base/base.html' %}

{% block content %}

<div class="container">

	<h1>Catálogo de libros</h1>
	<hr/>

	<div class="row">

		<div class="col-md-6">
			
			<h3>Películas</h3>
			<hr/>
	
			{% if movie_list %}

		  	{% for movie in movie_list %}
		  	<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{movie}}</h3>
				  		</div>
				  		<div class="panel-body">
							<a href="/items/movies/{{movie.id}}" class="btn btn-link">Ver</a>
							<a href="/items/movies/edit/{{movie.id}}" class="btn btn-link">Editar</a>
							<a href="/items/movies/delete/{{movie.id}}" class="btn btn-link">Eliminar</a>
				  		</div>
					</div>
				</div>
			</div>
		    {% endfor %}

			{% else %}

			<div class="alert alert-warning">
				<span>No hay nada para mostrar</span>
			</div>

			{% endif %}

		</div>

		<div class="col-md-6">
			
			<h3>Series</h3>
			<hr/>
	
			{% if series_list %}

		  	{% for series in series_list %}
		  	<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{series}}</h3>
				  		</div>
				  		<div class="panel-body">
							<a href="/items/series/{{series.id}}" class="btn btn-link">Ver</a>
							<a href="/items/series/edit/{{series.id}}" class="btn btn-link">Editar</a>
							<a href="/items/series/delete/{{series.id}}" class="btn btn-link">Eliminar</a>
				  		</div>
					</div>
				</div>
			</div>
		    {% endfor %}

			{% else %}

			<div class="alert alert-warning">
				<span>No hay nada para mostrar</span>
			</div>

			{% endif %}

		</div>

	</div>

	<hr/>

	<div class="row">
		<div class="col-md-6">
			<a href="/items/movies/new" class="btn btn-primary">Nueva película</a>
		</div>
		<div class="col-md-6">
			<a href="/items/series/new" class="btn btn-primary">Nueva serie</a>
		</div>
	</div>

</div>

{% endblock %}