{% extends 'base/base.html' %}

{% block content %}

<div class="container">

	<h1>Catálogo de videojuegos</h1>
	<hr/>

	<div class="row">
	
		{% if object_list %}

	  	{% for game in object_list %}
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{game}}</h3>
		  		</div>
		  		<div class="panel-body">
					<a href="/items/games/{{game.id}}" class="btn btn-link">Ver</a>
					<a href="/items/games/edit/{{game.id}}" class="btn btn-link">Editar</a>
					<a href="/items/games/delete/{{game.id}}" class="btn btn-link">Eliminar</a>
		  		</div>
			</div>
		</div>
	    {% endfor %}

		{% else %}

		<div class="alert alert-warning">
			<span>No hay nada para mostrar</span>
		</div>

		{% endif %}

	</div>

	<hr/>
	<a href="/items/games/new" class="btn btn-primary">Nuevo videojuego</a>

</div>

{% endblock %}