{% extends 'items/item_detail.html' %}

{% block more_fields %}

{% if object.game %}
<p>
	<b>Videojuego:</b>
	<a href="/items/games/{{object.game.id}}">{{object.game}}</a>
</p>
{% endif %}

<p>
	<b>Plataformas:</b>
	{% for platform in object.platforms.all %}
	<a href="/items/platforms/{{platform.id}}" class="label label-default">{{platform.short}}</a>
	{% endfor %}
</p>

{% endblock %}

{% block subitems %}

{% if object.dlc_set %}

<hr/>
<h4 class="subitems-title">DLCs y expansiones</h4>

{% if object.dlc_set.all %}
<div class="list-group">
	{% for dlc in object.dlc_set.all %}
	<a href="/items/dlcs/{{dlc.id}}" class="list-group-item">{{dlc}}</a>
	{% endfor %}
</div>
{% else %}
<div class="alert alert-warning">
	<span>No hay ningún DLC</span>
</div>
{% endif %}

<a href="{% url 'items:dlc_create' pk=object.id %}" class="btn btn-primary btn-block">Añadir DLC</a>

{% endif %}

{% endblock %}

{% block buttons %}
{% if object.game %}
<hr/>
<a href="/items/dlcs/edit/{{object.id}}" class="btn btn-primary">Editar</a>
<a href="/items/dlcs/delete/{{object.id}}" class="btn btn-danger">Eliminar</a>
<a href="/items/{{item_path}}" class="btn btn-link">Volver al juego</a>
{% else %}
{{block.super}}
{% endif %}
{% endblock %}