{% extends 'items/item_detail.html' %}

{% block more_fields %}

{% if object.game %}
<p>
	<b>Videojuego:</b>
	<a href="/items/games/{{object.game.id}}">{{object.game}}</a>
</p>
{% endif %}

<p>
	<b>Plataformas:</b>
	{% for platform in object.platforms.all %}
	<!-- TODO No en esta version -->
	<!-- <a href="/items/platforms/{{platform.id}}" class="label label-default">{{platform.short}}</a> -->
	<span class="label label-default">{{platform.short}}</span>
	{% endfor %}
</p>

{% endblock %}

{% block subitems_tab %}

{% if object.dlc_set %}
<li role="presentation">
	<a href="#subitems" data-toggle="tab">DLCs y expansiones</a>
</li>
{% endif %}

{% endblock %}

{% block subitems %}

{% if dlcs %}
<div class="list-group">
	{% for dlc, option in dlcs.items %}
	<a href="/items/dlcs/{{dlc.id}}" class="list-group-item">
		{{dlc}}
		{% if option %}
		<span class="pull-right">
			{% if option == "pen" %}
				<i class="glyphicon glyphicon-time"></i>
			{% elif option == "pau" %}
				<i class="glyphicon glyphicon-pause"></i>
			{% elif option == "jug" %}
				<i class="glyphicon glyphicon-play"></i>
			{% elif option == "ter" %}
				<i class="glyphicon glyphicon-ok"></i>
			{% elif option == "com" %}
				<i class="glyphicon glyphicon-check"></i>
			{% endif %}
		</span>
		{% endif %}
	</a>
	{% endfor %}
</div>
{% else %}
<div class="alert alert-warning">
	<span>No hay ningún DLC</span>
</div>
{% endif %}

{% if user.is_staff %}
<a href="{% url 'items:dlc_create' pk=object.id %}" class="btn btn-link">Añadir DLC</a>
{% endif %}

{% endblock %}

{% block buttons %}
{% if object.game %}
<hr/>
<a href="/items/dlcs/edit/{{object.id}}" class="btn btn-primary">Editar</a>
<a href="/items/dlcs/delete/{{object.id}}" class="btn btn-danger">Eliminar</a>
<a href="/items/{{item_path}}" class="btn btn-link">Volver al juego</a>
{% else %}
{{block.super}}
{% endif %}
{% endblock %}