{% extends 'base/base.html' %}

{% block content %}

<div class="container">
	<form method="post" class="form-horizontal col-md-8">
		{% csrf_token %}
		<fieldset>
			<legend>{{legend}}</legend>
			{% for field in form %}
			<div class="form-group {% if field.errors %}has-error{% endif %}">
				<label class="col-md-2 control-label">{{field.label}}</label> 
				<div class="col-md-10">
					{% if field != form.genres and field != form.category and field != form.status %}
					{{field}}
					{% elif field == form.genres %}
					<div class="checkbox">
						{% for checkbox in field %}
						<label>{{checkbox.tag}}{{checkbox.choice_label}}</label>
						<br/>
						{% endfor %}
					</div>
					{% else %}
						{% for radio in field %}
						<div class="radio">
							<label>{{radio.tag}}{{radio.choice_label}}</label>
						</div>
						{% endfor %}
					{% endif %}
					{% if field.errors %}
					<div class="alert alert-danger error-message">
						{% for error in field.errors %}
						<span>{{error}}</span>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button type="submit" class="btn btn-primary">Guardar</button>
					<a href="{{cancel_url}}" class="btn btn-danger">Cancelar</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>

{% endblock %}