<div class="list-group">
	<a href="/items/{{item_path}}/{{item.id}}" class="list-group-item cover-preview">
		<img src="{{item.image}}">
	</a>
	<a href="/items/{{item_path}}/{{item.id}}" class="list-group-item">
		<h5 class="list-group-item-heading title-preview">{{item.title}}</h5>
		<span class="label label-{% if item.bookmark_set %}success{% elif item.moviemark_set %}primary{% elif item.seriesmark_set %}info{% elif item.comicmark_set or item.comicseriesmark_set %}warning{% elif item.gamemark_set %}danger{% else %}default{% endif %}">{% if label %}{{label}}{% else %}{{item.get_category_display}}{% endif %}</span>
		<span class="label label-default">{{item.year}}</span>
		{% if option %}
		<span class="pull-right">
			{% if option == "pen" %}
			<i class="glyphicon glyphicon-time"></i>
			{% elif option in "ley jug sig" %}
			<i class="glyphicon glyphicon-play"></i>
			{% elif option == "pau" %}
			<i class="glyphicon glyphicon-pause"></i>
			{% elif option in "lei ter fin vis" %}
			<i class="glyphicon glyphicon-ok"></i>
			{% elif option == "com" %}
			<i class="glyphicon glyphicon-check"></i>
			{% endif %}
		</span>
		{% endif %}
	</a>
</div>