{% extends 'base/base.html' %}

{% block content %}

<div class="container">

	<div class="row">
		
		<div class="col-md-3 text-center">
			<img src="{{object.image}}" class="img-responsive">
			{# TODO Añadir funcionalidad #}
			<br/>
			<div class="btn-group btn-block">
				<a href="#" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					No marcar&nbsp;<span class="caret"></span>
				</a>
				<ul class="dropdown-menu btn-block">
					{% for o, option in mark_options %}
					<li data-value="{{o}}"><a href="#" class="text-center">{{option}}</a></li>
					{% endfor %}
					<li class="divider"></li>
					<li data-value="not"><a href="#" class="text-center">No marcar</a></li>
				</ul>
			</div>
			<form action="/items/{% if object.game %}dlcs{% else %}{{item_path}}{% endif %}/fav/" method="post">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{object.id}}">
				{% if not fav %}
				<button type="submit" name="fav" value="fav" class="btn btn-primary btn-block btn-fav">
					<span class="glyphicon glyphicon-heart"></span>Añadir a favoritos
				</button>
				{% else %}
				<button type="submit" name="fav" value="unfav" class="btn btn-danger btn-block btn-fav">
					<span class="glyphicon glyphicon-heart"></span>Quitar de favoritos
				</button>
				{% endif %}
			</form>
		</div>
		
		<div class="col-md-6">
			<a href="/items/{{item_path}}" class="label label-primary">{{item_name}}</a>
			<h1>{{object.title}}</h1>
			<hr/>
			<p><b>Año: </b>{{object.year}}</p>
			<p><b>Puntuación: </b>{{object.rating|floatformat}}</p>
			{% block more_fields %}
			{% endblock %}
			<div align="justify">
				<p><b>Descripción:</b>{{object.description|linebreaks}}</p>
			</div>
			<p>
				<b>Géneros:</b>
				{% for genre in object.genres.all %}
				<a href="/items/genres/{{genre.id}}" class="label label-default">{{genre}}</a>
				{% endfor %}
			</p>
		</div>

		<div class="col-md-3">
			<div class="list-group">
				<span class="list-group-item active">
					<b>Agentes</b>
				</span>
				{% if agents %}
					{% for a, roles in agents.items %}
					<a href="/items/agents/{{a.id}}" class="list-group-item">
						<div class="row">
							<div class="col-md-4">
								<img src="{{a.image}}" class="img-responsive">
							</div>
							<div class="col-md-8">
								<span>{{a}}</span><br/>
								{% for role in roles %}
								<span class="label label-default">{{role}}</span>
								{% endfor %}
							</div>
						</div>
					</a>
					{% endfor %}
				{% else %}
				<span class="list-group-item text-danger">No hay ningún agente</span>
				{% endif %}
			</div>
			<a href="#" class="btn btn-primary btn-block">Añadir agente</a>
			{% block subitems %}
			{% endblock %}
		</div>
	
	</div>

	{% block buttons %}
	<hr/>
	<a href="/items/{{item_path}}/edit/{{object.id}}" class="btn btn-primary">Editar</a>
	<a href="/items/{{item_path}}/delete/{{object.id}}" class="btn btn-danger">Eliminar</a>
	<a href="/items/{{item_path}}" class="btn btn-link">Volver al catálogo</a>
	{% endblock %}

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('ul.dropdown-menu').on('click', 'li a', function(){
		$(this).parents(".btn-group").find('.btn').html($(this).text()
				+ '&nbsp;<span class="caret"></span>');
	});
</script>
{% endblock %}