{% extends 'base/base.html' %}

{% block content %}

<div class="container">

	<div class="row">
		
		<div class="col-md-3 text-center">
			<img src="{{object.image}}" class="img-responsive">
			<br/>
			<form action="/items/{% if object.game %}dlcs{% else %}{{item_path}}{% endif %}/mark/" id="mark" method="post">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{object.id}}">
				<div class="btn-group btn-block">
					<button id="mark-button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						{% if mark %}
							{% if mark == "pen" %}
							<i class="glyphicon glyphicon-time"></i>Pendiente
							{% elif mark == "ley" %}
							<i class="glyphicon glyphicon-play"></i>Leyendo
							{% elif mark == "pau" %}
							<i class="glyphicon glyphicon-pause"></i>Pausado
							{% elif mark == "lei" %}
							<i class="glyphicon glyphicon-ok"></i>Leído
							{% elif mark == "jug" %}
							<i class="glyphicon glyphicon-play"></i>Jugando
							{% elif mark == "ter" %}
							<i class="glyphicon glyphicon-ok"></i>Terminado
							{% elif mark == "com" %}
							<i class="glyphicon glyphicon-check"></i>Completado
							{% elif mark == "sig" %}
							<i class="glyphicon glyphicon-play"></i>Siguiendo
							{% elif mark == "fin" %}
							<i class="glyphicon glyphicon-ok"></i>Finalizado
							{% elif mark == "vis" %}
							<i class="glyphicon glyphicon-ok"></i>Visto
							{% endif %}
						{% else %}
						<i class="glyphicon glyphicon-remove-circle"></i>No marcar
						{% endif %}
						<span class="caret"></span>
					</button>
					<ul id="mark-dropdown" class="dropdown-menu btn-block">
						{% for o, option in mark_options %}
						<li data-value="{{o}}">
							<a href="#" class="text-center">
								{% if o == "pen" %}
								<i class="glyphicon glyphicon-time"></i>
								{% elif o in "ley jug sig" %}
								<i class="glyphicon glyphicon-play"></i>
								{% elif o == "pau" %}
								<i class="glyphicon glyphicon-pause"></i>
								{% elif o in "lei ter fin vis" %}
								<i class="glyphicon glyphicon-ok"></i>
								{% elif o == "com" %}
								<i class="glyphicon glyphicon-check"></i>
								{% endif %}
								{{option}}
							</a>
						</li>
						{% endfor %}
						<li class="divider"></li>
						<li data-value="not">
							<a href="#" class="text-center">
								<i class="glyphicon glyphicon-remove-circle"></i>
								No marcar
							</a>
						</li>
					</ul>
				</div>
			</form>
			<form action="/items/{% if object.game %}dlcs{% else %}{{item_path}}{% endif %}/fav/" id="fav" method="post">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{object.id}}">
				{% if not fav %}
				<input type="hidden" name="fav" value="unfav">
				<button id="fav-button" class="btn btn-primary btn-block btn-fav">
					<span class="glyphicon glyphicon-heart"></span>Añadir a favoritos
				</button>
				{% else %}
				<input type="hidden" name="fav" value="fav">
				<button id="fav-button" class="btn btn-danger btn-block btn-fav">
					<span class="glyphicon glyphicon-heart"></span>Quitar de favoritos
				</button>
				{% endif %}
			</form>
		</div>
		
		<div class="col-md-6">
			<a href="/items/{{item_path}}" class="label label-primary">{{item_name}}</a>
			<h1>{{object.title}}</h1>
			<hr/>
			<p><b>Año: </b>{{object.year}}</p>
			<p><b>Puntuación: </b>{{object.rating|floatformat}}</p>
			{% block more_fields %}
			{% endblock %}
			<div align="justify">
				<p><b>Descripción:</b>{{object.description|linebreaks}}</p>
			</div>
			<p>
				<b>Géneros:</b>
				{% for genre in object.genres.all %}
				<a href="/items/genres/{{genre.id}}" class="label label-default">{{genre}}</a>
				{% endfor %}
			</p>
		</div>

		<div class="col-md-3">
			<div class="list-group">
				<span class="list-group-item active">
					<b>Agentes</b>
				</span>
				{% if agents %}
					{% for a, roles in agents.items %}
					<a href="/items/agents/{{a.id}}" class="list-group-item">
						<div class="row">
							<div class="col-md-4">
								<img src="{{a.image}}" class="img-responsive">
							</div>
							<div class="col-md-8">
								<span>{{a}}</span><br/>
								{% for role in roles %}
								<span class="label label-default">{{role}}</span>
								{% endfor %}
							</div>
						</div>
					</a>
					{% endfor %}
				{% else %}
				<span class="list-group-item text-danger">No hay ningún agente</span>
				{% endif %}
			</div>
			<a href="#" class="btn btn-primary btn-block">Añadir agente</a>
			{% block subitems %}
			{% endblock %}
		</div>
	
	</div>

	{% block buttons %}
	<hr/>
	<a href="/items/{{item_path}}/edit/{{object.id}}" class="btn btn-primary">Editar</a>
	<a href="/items/{{item_path}}/delete/{{object.id}}" class="btn btn-danger">Eliminar</a>
	<a href="/items/{{item_path}}" class="btn btn-link">Volver al catálogo</a>
	{% endblock %}

</div>

{% endblock %}

{% block scripts %}

{# Mark button #}
<script type="text/javascript">
	var markForm = $('#mark');
	$('#mark-dropdown li a').on('click', function() {
		link = $(this);
		option = link.parent().data('value');
		$.ajax({
			type: markForm.attr('method'),
			url: markForm.attr('action'),
			data: markForm.serialize() + "&option=" + option,
			success: function() {
				button = $('#mark-button');
				button.html(link.html() + '<span class="caret"></span>');
				button.attr('aria-expanded', 'false');
				button.parent().removeClass('open');
			}
		});
		return false;
	});
</script>

{# Fav button #}
<script type="text/javascript">
	var favForm = $('#fav');
	favForm.submit(function() {
		$.ajax({
			type: favForm.attr('method'),
			url: favForm.attr('action'),
			data: favForm.serialize(),
			success: function(response) {
				button = $('#fav-button');
				fav = $('input[name="fav"]');
				if (response == "fav") {
					fav.val('fav');
					button.html('<span class="glyphicon glyphicon-heart"></span>Quitar de favoritos');
					button.addClass('btn-danger');
					button.removeClass('btn-primary');
				} else if (response == "unfav") {
					fav.val('unfav');
					button.html('<span class="glyphicon glyphicon-heart"></span>Añadir a favoritos');
					button.addClass('btn-primary');
					button.removeClass('btn-danger');
				}
				button.blur();
			}
		});
		return false;
	});
</script>

{% endblock %}