{% load staticfiles %}

<div class="list-group">
	<a href="/items/{{item_path}}/{{item.id}}" class="list-group-item cover-preview">
		{% if item.image %}
		<img src="{{item.image}}">
		{% else %}
		<img src="{% static 'images/no_image.svg' %}">
		{% endif %}
		<div class="img-rating">
			<b>{{item.rating|floatformat:1}}</b>
		</div>
	</a>
	<a href="/items/{{item_path}}/{{item.id}}" class="list-group-item">
		<h5 class="list-group-item-heading title-preview">{{item.title}}</h5>
		{% if item.bookmark_set %}
		<span class="label label-success">Libro</span>
		{% elif item.moviemark_set %}
		<span class="label label-primary">{{item.get_category_display}}</span>
		{% elif item.seriesmark_set %}
		<span class="label label-info">{{item.get_category_display}}</span>
		{% elif item.comicmark_set %}
		<span class="label label-warning">Cómic</span>
		{% elif item.comicseriesmark_set %}
		<span class="label label-warning">Cómic</span>
		{% elif item.gamemark_set %}
		<span class="label label-danger">Videojuego</span>
		{% elif item.dlcmark_set %}
		<span class="label label-danger">DLC</span>
		{% else %}
		<span class="label label-default">Item</span>
		{% endif %}
		<span class="label label-default">{{item.year}}</span>
		{% if item.option %}
		<span class="pull-right">
			{% if item.option == "pen" %}
			<i class="glyphicon glyphicon-time"></i>
			{% elif item.option in "ley jug sig" %}
			<i class="glyphicon glyphicon-play"></i>
			{% elif item.option == "pau" %}
			<i class="glyphicon glyphicon-pause"></i>
			{% elif item.option in "lei ter fin vis" %}
			<i class="glyphicon glyphicon-ok"></i>
			{% elif item.option == "com" %}
			<i class="glyphicon glyphicon-check"></i>
			{% endif %}
		</span>
		{% endif %}
	</a>
</div>