{% extends 'base/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="well filter">
				<form method="post" class="form-horizontal" id="search">
					{% csrf_token %}
					<fieldset>
						<legend>Búsqueda</legend>
						<div class="has-feedback has-feedback-left">
							<input type="text" class="form-control" name="q" placeholder="Buscar" value="{% if q %}{{q}}{% endif %}">
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
						<hr/>
						<!--<div class="form-group">
							<label class="control-label">Género</label>
							<div class="checkbox">
								{% for genre in genres %}
								<label><input type="checkbox" name="genres" value="{{genre.id}}" {% if genre.id in g %}checked{% endif %}>&nbsp;{{genre.name}}</label><br/>
								{% endfor %}
							</div>
						</div>
						<hr/>-->
						<input type="hidden" name="c" value="{{c}}" />
						<button type="submit" class="btn btn-primary btn-block">Filtrar</button>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-9">
			<div class="btn-group btn-group-justified tabs" id="c-tabs">
				<a href="#" data-option="all" class="btn btn-{% if c == 'all' %}primary{% else %}default{% endif %}">Todo</a>
				<a href="#" data-option="movies" class="btn btn-{% if c == 'movies' %}primary{% else %}default{% endif %}">Cine</a>
				<a href="#" data-option="series" class="btn btn-{% if c == 'series' %}primary{% else %}default{% endif %}">Televisión</a>
				<a href="#" data-option="books" class="btn btn-{% if c == 'books' %}primary{% else %}default{% endif %}">Libros</a>
				<a href="#" data-option="games" class="btn btn-{% if c == 'games' %}primary{% else %}default{% endif %}">Videojuegos</a>
				<a href="#" data-option="comics" class="btn btn-{% if c == 'comics' %}primary{% else %}default{% endif %}">Cómics</a>
			</div>
			{% if items %}
			<div class="row">
				{% for item, option in items.items %}
				<div class="col-md-3">
					{% if c in "all games comics" %}
						{% if item.bookmark_set %}
							{% include "items/item_preview.html" with item_path="books" %}
						{% elif item.moviemark_set %}
							{% include "items/item_preview.html" with item_path="movies" %}
						{% elif item.seriesmark_set %}
							{% include "items/item_preview.html" with item_path="series" %}
						{% elif item.comicmark_set %}
							{% include "items/item_preview.html" with item_path="comics" %}
						{% elif item.comicseriesmark_set %}
							{% include "items/item_preview.html" with item_path="comicseries" %}
						{% elif item.gamemark_set %}
							{% include "items/item_preview.html" with item_path="games" %}
						{% elif item.dlcmark_set %}
							{% include "items/item_preview.html" with item_path="dlcs" %}
						{% endif %}
					{% else %}
						{% include "items/item_preview.html" with item_path=c %}
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% elif c == 'all' %}
			<div class="alert alert-warning">
				<span>No hay nada para mostrar</span>
			</div>
			{% else %}
			<div class="alert alert-info">
				<span>¿No encuentras lo que buscas? Prueba a añadir una ficha nueva:</span>
				{% if c == 'movies' %}
				<a href="/items/movies/add"><u>Añadir una película</u></a>
				{% elif c == 'series' %}
				<a href="/items/series/add"><u>Añadir una serie</u></a>
				{% elif c == 'books' %}
				<a href="/items/books/add"><u>Añadir un libro</u></a>
				{% elif c == 'games' %}
				<a href="/items/games/add"><u>Añadir un juego</u></a>
				{% elif c == 'comics' %}
				<a href="/items/comicseries/add"><u>Añadir un cómic</u></a>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
	$('#c-tabs a').on('click', function(event) {
		event.preventDefault();
		form = $('#search');
		$('input[name="c"]').val($(this).data('option'));
		form.submit();
	});
</script>

{% endblock scripts %}