{% extends 'base/auth.html' %}

{% block header %}
<h2>Recuperar contraseña</h2>
<br/>
{% endblock %}

{% block content %}

<form method="post">
	{% csrf_token %}
	<div class="form-group {% if form.email.errors %}has-error{% endif %}">
		<label for="id_email" class="form-label">Por favor, introduzca su correo electrónico</label>
		<input type="text" name="{{form.email.name}}" class="form-control">
		{% if form.email.errors %}
		<div class="alert alert-danger error-message">
			{% for error in form.email.errors %}
			<span>{{error}}</span>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="buttons">
		<button type="submit" class="btn btn-primary">Enviar</button>
		<a href="{% url 'main:login' %}" class="btn btn-danger">Volver</a>
	</div>
</form>

{% endblock %}